<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      App musical
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label color="primary">Touch the musical instrument for play music</ion-label>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let instrument of instruments">
        <ion-card (click)="playMusic(instrument.sound)">
          <ion-img [src]="instrument.img"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
